{% block main %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/boostrap.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 779px)"
          href="{{url_for('static', filename='styles/mobile.css')}}"/>
</head>

<body>
<div class="alert alert-danger" role="alert">{{ message }}</div>
</body>

</html>
{% endblock %}